body {
    background: url("images/BrooklynTech.jpg");
    background-size: cover;
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: center;
    height:100vh; 
}
    
.container{
    background: rgb(190, 179, 179);
    opacity: 0.90;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .container {
        max-width: 70%;
    }
}
    
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
    
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
    
button {
    border: 1px solid #211717;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Open Sans';
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #d6b912;
}

#save-btn {
    background: #2acbe0;
}